@page "/playme"

<style>
    body{
        background-image: url('http://i.stack.imgur.com/kx8MT.gif');
        background-size: cover;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12 my-5  text-center">
            <iframe width="620" height="620" src="https://www.youtube.com/embed/F5YdD-kJUaM" title="The Simpsons - Basketball Jones" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>


@code {

}
